@tailwind base;
@tailwind components;
@tailwind utilities;
/* @charset "UTF-8"; */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background-color: rgb(43, 43, 43);
  color: white;
}

.page-enter {
  opacity: 0;
  transform: translateY(100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 500ms, transform 500ms;
}

.page-exit {
  opacity: 1;
  transform: translateY(0%);
}

.page-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 500ms, transform 500ms;
}